<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>Envio Manual de Despesas</p>

    <% if (!message && (!parsedResponses || parsedResponses.length === 0)) { %>
      <form action="/despesas" method="post">
        <button type="submit">Enviar despesas</button>
      </form>
    <% } else { %> 

      <% if (message) { %>
        <p><%= message %></p>
        
        <% if (parsedResponses && parsedResponses.length > 0) { %>
          <% parsedResponses.forEach(row => { %>
            <p><%= row[0] %></p>
            <p><%= row[1] %></p>
            <p><%= row[2] %></p>
            <p><%= row[3] %></p>
            <p><%= row[4] %></p>
          <% }); %> 
        <% } else { %>
          <p>Nenhum resultado encontrado.</p>
        <% } %> 

      <% } else { %> 
        <!-- Handle other cases if needed -->
      <% } %> 

    <% } %>

  </body>
</html>
