<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>Envio Manual Pagamento RH</p>

    <% if (!message && (!parsedResponses || parsedResponses.length === 0)) { %>
    <form action="/pgtorh" method="post">
      <button type="submit">Enviar Pagamento RH</button>
    </form>
    <% } else { %> <% if (message) { %>
    <p><%= message %></p>

    <% if (parsedResponses && parsedResponses.length > 0) { %> <%
    parsedResponses.forEach(row => { %>
    <p><%= row[0] %></p>
    <p><%= row[1] %></p>
    <p><%= row[2] %></p>
    <p><%= row[3] %></p>
    <p><%= row[4] %></p>
    <% }); %> <% } else { %>
    <p>Nenhum resultado encontrado.</p>
    <% } %> <% } else { %>
    <p>Envio concluído.</p>
    <% } %> <% } %>
  </body>
</html>
