<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      #process-list {
        margin-top: 20px;
      }
      .process-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Upload Filestream</h1>
    <form action="/upload_file" method="post">
      <button type="submit">Upload</button>
    </form>
    <% if (!message && (!responses || responses.length === 0)) { %>
      
    <% } else { %> <% if (message) { %>
    <p><%= message %></p>
    <% } %> <% if (responses && responses.length > 0) { %>
    <ul>
      <% responses.forEach(response => { %>
      <li>
        ID: <%= response.id %>, Status: <%= response.status %>, <% if
        (response.error) { %> Error: <%= response.error %> <% } %>
      </li>
      <% }); %>
    </ul>
    <% } %> <% } %>
  </body>
</html>
